# fly.toml app configuration file generated for tokopaedi on 2026-01-05T05:29:48+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tokopaedi'
primary_region = 'iad'

[build]
[build.args]
IMAGES_PACK_URL = "https://drive.usercontent.google.com/download?export=download&id=1mo-ImnfJY0VepOp5IjA9M7qEvtEcS7G-&confirm=t"
THUMBNAILS_PACK_URL = "https://drive.usercontent.google.com/download?export=download&id=1onrH9RkHe8X36a030snolMNJMvJuI9Ws&confirm=t"

[env]
PORT = '8080'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '1024mb'
cpus = 1
memory_mb = 1024
