@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

* {
  outline: none;
}

/* Horizontal Scrollbar */
.horizontal-scrollbar {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.horizontal-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.horizontal-scrollbar::-webkit-scrollbar-track {
  background: var(--color-emerald-100);
}
.horizontal-scrollbar::-webkit-scrollbar-thumb {
  height: 4px;
  background-color: var(--color-emerald-200);
  border-radius: 4px;
}
.horizontal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-emerald-400);
}
